<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="어색한 친구를 소개합니다." />
    <meta name="author" content="번개탄소년단" />
    <title>어친소</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- 이 slider에서 필요한 js, css 를 링크걸어 사용 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js">
    </script>


    <style>
<!-- 슬라이더 버튼 css -->
.swiper-pagination-bullet { width: 12px; height: 12px; background: #ffd700; border: 1px solid #ffd700; opacity: 1; }
.swiper-pagination-bullet-active { width: 40px; transition: width .5s; border-radius: 5px; background: #ffd700; border: 1px solid transparent; }

</style>

</head>

<body id="page-top" style="font-family:retro-font;">

<!-- Modal 모달 창  -->

<div id="divPosition" class="modal">
    &#128536; 어친소 &#128536;
    <!--        <div id="modal-title"> 어친소 </div>-->
    <div id="modal-innertext" class="modal">
            <span class="modal_content">
                <br>
                <h3 class="modal_text">? 닉네임을 등록/변경 하시겠습니까 ?</h3>
                <input type="text" id="user_name" onfocus="this.value=''" value="닉네임을 입력하세요" class="modal_input modal_content"/>
                <br>
                <button class="modal_btn modal_content" id="confirm-btn" >확인</button>
                <br>
                <button class="modal_btn modal_content" id="close-btn" onclick="CloseModal();">닫기</button>
            </span>
    </div>
</div>
<!--    <div class="modal__box modal_box modal">-->
<!--        <div class="modal_content modal_texts modal">-->
<!--            <span style="background-color: yellow;"> 어친소 </span>-->
<!--            <h3 class="modal_text">? 닉네임을 등록/변경 하시겠습니까 ?</h3>-->
<!--&lt;!&ndash;            <input type="text" id="user_name" onfocus="this.value=''" value="닉네임을 입력하세요" class="modal_text modal_input"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="modal_btn" id="confirm_button">확인</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="modal_btn" id="close_button" onclick="CloseModal();">닫기</button>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 text-shadow">
                <li class="nav-item"><a class="nav-link" href="#portfolio" style="text-docoration: none;">GAMES</a></li>
                <li class="nav-item"><a class="nav-link" href="#team" style="text-docoration:none;">ABOUT</a></li>
            </ul>
        </div>

        <!-- 닉네임 표시 위치-->
        <!-- css와 js로 닉네임이 없으면 -> 닉네임 설정 버튼만 활성화 / 닉네임 설정 후 -> 변경 버튼만 활성화  -->
        <div class="text-shadow">
            <a href="" id ="btn-create-name"><img src="assets/img/logo.png"style="width:40px;"></a>
            <p id="nickname-area" class='no_p' style="font-family:retro-font; color:#FFF;">닉네임을 설정해주세요.</p>

        </div>
    </div>
</nav>

<!--star effect -->

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To</div>
        <div class="masthead-heading text-uppercase">TINGTINGTAENGTAENG</div>
    </div>
</header>



<!-- Portfolio Grid-->
<section class="page-section bg-dark" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color:#FFF;">게임 선택</h2>
            <h3 class="section-subheading text-muted" style="color:#FFF;">WoW~ 인싸 게임이 한가득~</h3>
        </div>



        <!--slider test -->

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- Portfolio item 1-->                        <div class="portfolio-item folder">
                    <a class="portfolio-link folder-content " href="/balance">
                        밸런스 게임 <br>
                        <div style="color:red">♥ ♡ ♡</div>
                        <div class = "folder-bottom"> ▶ C l i c k ! </div>
                    </a>
                </div></div>



                <div class="swiper-slide">
                    <!-- Portfolio item 2-->                        <div class="portfolio-item folder">
                    <a class="portfolio-link folder-content"  href="/music">
                        무대 게임 <br>
                        <div style="color:red">♥ ♥ ♥</div>
                        <div class = "folder-bottom"> ▶ C l i c k ! </div>
                    </a>
                </div></div>



                <div class="swiper-slide">
                    <!-- Portfolio item 3-->                        <div class="portfolio-item folder">
                    <a class="portfolio-link folder-content " href="/newWord">
                        신조어 게임 <br>
                        <div style="color:red">♥ ♥ ♡</div>
                        <div class = "folder-bottom"> ▶ C l i c k ! </div>
                    </a>
                </div></div>


                <div class="swiper-slide">
                    <!-- Portfolio item 4-->                        <div class="portfolio-item folder">
                    <a class="portfolio-link folder-content"  href="/ag">
                        아재 게임 <br>
                        <div style="color:red">♥ ♡ ♡</div>
                        <div class = "folder-bottom"> ▶ C l i c k ! </div>
                    </a>
                </div></div>
            </div>

            <!-- 페이징 -->
            <div class="swiper-pagination"></div>
        </div>


    </div>
</section>

<!-- About-->
<section class="page-section bg-dark" id="team">

    <div class="text-center">
        <h2 class="section-heading text-uppercase" style="color:#FFF;">번개탄소년단 (Tingting-Taengtaeng)</h2>
        <h3 class="section-subheading text-muted" style="color:#FFF;">함께해서 즐거웠고 다신 보지 말자</h3>
    </div>



    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">


                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/img/team/de.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Daeun Kim</div>
                            <div class="job" style="color:#14106d;">Youtuber</div>
                            <div class="mx-auto text-center" style="font-size: 1.0rem;">교차편집 전문 유튜버<br>\
                                무엇이라도 소화할 수 있는 잡식성 식습관 보유<br>
                                츄베릅 츄베릅 >3< !!<br>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/img/team/hl.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Hyelin Lee</div>
                            <div class="job" style="color:#14106d;">Hacker</div>
                            <div class="mx-auto"  style="font-size: 1.0rem;" >이: 이색갸 <br>
                                혜: 헤헤거리지 마<br>
                                린: 인사안해?<br>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/img/team/sy.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Seyoung Choi</div>
                            <div class="job" style="color:#14106d;">구설수 전문 유튜버, <br>싱어송라이터</div>
                            <div class="mx-auto text-center" style="font-size: 1.0rem;" >
                                7명 구독자 유튜버 출신 <br>
                                인생 훈수 및 참견 컨설턴트<br>
                                무한도전 웃음분석위원회 부회장 <br>
                                곱창의 100가지 숨겨진 과학 공동저자<br>
                                매드몬스터 공식 10기 60억 포몬<br>
                                개발 관련 서적 중고나라 판매 전문가<br>
								html 태그 제대로 닫기 위원회 명예회장
                            </div>

                        </div>

                    </div>
                </div>
            </div>



            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="assets/img/team/yy.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Yuni Yang</div>
                            <div class="job" style="color:#14106d;">양꼬치마가린구이홍보실장 <br> 미래전략실 본부장</div>
                            <div class="mx-auto text-center" style="font-size: 1.2rem;" > ~Maison De Yuni Market~ <br>
                                개발 관련 모든 문의는 DM으로만<br>
                                댓글x, 카톡문의x<br>
                                <a href='https://www.youtube.com/watch?v=agbzb1MaDtc'>www.yunibutter.com</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>

</section>

<!-- Footer-->
<footer class="footer py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 text-shadow" style="color: #FFF; font-size: 1.24rem;">Copyright &copy; TINGTINGTAENGTAENG</div>
        </div>
    </div>
</footer>
<script>//swiper slide//
sessionStorage.setItem('stage_score',0);
sessionStorage.setItem('newWord_score',0);
sessionStorage.setItem('azGame_score',0);

new Swiper('.swiper-container', {

	autoplay: { delay: 3000, },



	slidesPerView : 3, // 동시에 보여줄 슬라이드 갯수
	spaceBetween : 30, // 슬라이드간 간격
	slidesPerGroup : 3, // 그룹으로 묶을 수


	loop : true, // 무한 반복

	pagination : { // 페이징
		el : '.swiper-pagination',
		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
	},
	navigation : { // 네비게이션
		nextEl : '.swiper-button-next', // 다음 버튼 클래스명
		prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
	},
});

</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="js/slider.js"></script>
</body>
</html>


